.container {
    width: 100%;
    height: 100%;
}

.title {
    margin: 0;
    color: var(--grey);
    font-size: 38px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.38px;
    margin-bottom: 32px;
}

.addItemButton {
    padding: 8px;
    width: 300px;
    border-radius: 12px;
    background-color: #420101;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
}

.addItemButton:hover, .addItemButton:focus {
    background-color: #672121;
}